@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #222, #111);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 100%;
  width: 800px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

#code-form {
  display: none;
}

input[name="restart"] {
  width: 300px;
  height: 50px;
  margin-top: 0.5rem;
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #ff5555;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-shadow: 5px 5px 20px #000;
}

input[name="restart"]:hover {
  cursor: pointer;
  background-color: #ff4444;
  box-shadow: none;
}

/* Code pad */
.code-pad {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  border: 3px solid #000;
  background-color: #2f4f4f;
  box-shadow: 4px 6px 20px #000;
  align-content: center;
}

.code-pad .border {
  border: 3px solid #000;
  margin: 1.5rem;
}

.code-pad #value-display {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  max-width: 400px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  color: #ffff00;
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  background-color: #222;
  border: 6px inset #333;
  text-shadow: 0px 0px 5px #ffff00;
}

.code-pad #num-pad {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  gap: 8px;
  align-self: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #000;
  background-color: #233b3b;
}

.code-pad #num-pad div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Orbitron", sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #365c5c;
  border: 3px outset #222;
  color: #050909;
}

.code-pad #num-pad div:hover {
  cursor: pointer;
  border: 3px inset #222;
  background-color: #2f4f4f;
}

/* Entries */
.entries {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 425px;
  border-radius: 5px;
  background-color: #222;
  border: 3px solid #000;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  color: #fff;
  font-size: 20px;
}

.entries > div:first-of-type {
  font-size: 24px;
  border-bottom: 2px solid #fff;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.entries div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.green {
  color: #00ff00;
}

.yellow {
  color: #ffff00;
}

.red {
  color: #ff0000;
}
